<div id="banner">
	<div class="cont">
		<ul id="banners">
			<li><img src="/img/banner/Hotels/bvlgari-1.jpg" alt="..." data-index="1"></li>
			<li><img src="/img/banner/Hotels/45-park-lane-1.jpg" alt="..." data-index="2"></li>
			<li><img src="/img/banner/Hotels/bvlgari-3.jpg" alt="..." data-index="3"></li>
		</ul>

		<ul id="bannerButtons">
			<li><a class="on">&nbsp;</a></li>
			<li><a>&nbsp;</a></li>
			<li><a>&nbsp;</a></li>
		</ul>
	</div>
</div>