<?/*<div id="main-banner" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active"><img src="/img/banner/Hotels/bvlgari-1.jpg" alt="..."></div>
		<div class="item"><img src="/img/banner/Hotels/45-park-lane-1.jpg" alt="..."></div>
		<div class="item"><img src="/img/banner/Cars/Mercedes/S500/S500-1.jpg" alt="..."></div>
		<div class="item"><img src="/img/banner/Cars/Bentley/Flying Spur/Flying-Spur-1.jpg" alt="..."></div>
	</div>
</div>*/?>
<div id="slideshow">
	<div class="ns-container theme-dark">
		<div class="ribbon"></div>
		<div id="slider" class="nivoSlider">
			<img src="/img/banner/Hotels/banner.jpg" alt="..." />
			<img src="/img/banner/Apartments/banner.jpg" alt="..."/>
			<img src="/img/banner/Cars/banner.jpg" alt="..." />
			<img src="/img/banner/Hospitality/banner.jpg" alt="..."/>
			<img src="/img/banner/Private Jet/banner.jpg" alt="..."/>
			<img src="/img/banner/Security Services/banner.jpg" alt="..."/>
		</div>
	</div>
</div>