.clr, .clear{clear:both;}
.hide{display:none !important;}
.left{float: left;}
.right{float:right;}
.center{text-align:center !important;}
.bold{font-weight:bold;}
.redText{color: #FF0000 !important;}
.greenText{color: #009A00 !important;}
.blueText{color: #0000FF !important;}
.yellowText{color: #FFA200 !important;}
.orangeText{color: #FF5500 !important;}
.purpleText{color: #A006FF !important;}
.inline-block{display: inline-block;}
.error-message{color: #900 !important;}
.alignRight{text-align: right;}
.alignLeft{text-align: left;}
.block{display:block;}
.nobold{font-weight: normal !important;}
.small{font-size: 0.7em !important;}
.xsmall{font-size: 0.6em !important;}
.noMargin{margin:0 !important;}
.inner, .inner10, .padding, .padding10{padding:10px;}
.inner5, .padding5, .index{padding:5px;}
.inner15, .padding15{padding:15px;}
.inner20, .padding20{padding:20px;}
.outer5{margin:5px;}
.outer, .outer10{margin:10px;}
.outer15{margin:15px;}
.outer20{margin:20px;}
.v-outer5, .v-margin5{margin-top: 5px; margin-bottom: 5px;}
.v-outer, .v-outer10, .v-margin{margin-top: 10px; margin-bottom: 10px;}
.v-outer15, .v-margin15{margin-top: 15px; margin-bottom: 15px;}
.v-outer20, .v-margin20{margin-top: 20px; margin-bottom: 20px;}
.v-inner, .v-inner10, .v-padding, .v-padding10{padding-top:10px; padding-bottom:10px;}
.v-inner5, .v-padding5{padding-top:5px; padding-bottom:5px;}
.v-inner15, .v-padding15{padding-top:15px; padding-bottom:15px;}
.v-inner20, .v-padding20{padding-top:20px; padding-bottom:20px;}
.no-padding{padding: 0 !important;}
.t-padding5{padding-top:5px;}
.t-padding, .t-padding10{padding-top:10px;}
.t-padding15{padding-top:15px;}
.t-padding20{padding-top:20px;}
.r-padding5{padding-right:5px;}
.r-padding, .r-padding10{padding-right:10px;}
.r-padding15{padding-right:15px;}
.r-padding20{padding-right:20px;}
.b-padding5{padding-bottom:5px;}
.b-padding, .b-padding10{padding-bottom:10px;}
.b-padding15{padding-bottom:15px;}
.b-padding20{padding-bottom:20px;}
.l-padding5{padding-left:5px;}
.l-padding, .l-padding10{padding-left:10px;}
.l-padding15{padding-left:15px;}
.l-padding20{padding-left:20px;}
.h-inner5, .h-padding5{padding-right:5px; padding-left:5px;}
.h-inner, .h-inner10, .h-padding, .h-padding10{padding-right:10px; padding-left:10px;}
.h-inner15, .h-padding15{padding-right:15px; padding-left:15px;}
.h-inner20, .h-padding20{padding-right:20px; padding-left:20px;}
.h-margin5{margin-left:5px; margin-right: 5px;}
.h-margin, .h-margin10{margin-left:10px; margin-right: 10px;}
.h-margin15{margin-left:15px; margin-right: 15px;}
.h-margin20{margin-left:20px; margin-right: 20px;}
.l-margin5{margin-left:5px;}
.l-margin, .l-margin10{margin-left: 10px;}
.l-margin15{margin-left:15px;}
.l-margin20{margin-left:20px;}
.r-margin5{margin-right:5px;}
.r-margin, .r-margin10{margin-right: 10px;}
.r-margin15{margin-right:15px;}
.r-margin20{margin-right:20px;}
.b-margin5{margin-bottom:5px;}
.b-margin, .b-margin10{margin-bottom: 10px;}
.b-margin15{margin-bottom:15px;}
.b-margin20{margin-bottom:20px;}
.t-margin5{margin-top:5px;}
.t-margin, .t-margin10{margin-top: 10px;}
.t-margin15{margin-top:15px;}
.t-margin20{margin-top: 20px;}
.b-margin20{margin-bottom: 20px;}
.no-margin{margin:0 !important;}
.no-v-margin{margin-top:0; margin-bottom:0;}
.no-h-margin{margin-left:0; margin-right:0;}
.align-block-middle{margin-left:auto !important; margin-right:auto !important; display: block !important;}
.relative{position: relative;}
.no-border{border:none !important;}
.highlight-cell td{background-color:#ccffff !important}
.underlined{text-decoration: underline;}
.page-left-col{width: 592px; float: left;}
.break-all{word-break:break-all;}
.v-align-top{vertical-align: top;}
.break-word{word-break: break-word;}
.overflow-visible{overflow: visible;}
div.required.errorField label{ color: #900 !important; }
div.required label:after{ content: ' *' }
hr {font-size: 1.7em; font-weight: 800; border-bottom: 2px solid rgb(28, 117, 188);}
.top-spacer {margin-top: 20px;}
body.admin-layout {
  padding-top: 60px;
}

a:hover{
	text-decoration:none;
	color: rgb(28, 117, 188);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color: rgb(28, 117, 188);}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: rgb(28, 117, 188);}
.blue-text{color: rgb(28, 117, 188);}
.blue-border-left-sm{border-left: 1px solid rgb(28, 117, 188);}
.blue-border-left-md{border-left: 2px solid rgb(28, 117, 188);}
.blue-border-left-lg{border-left: 3px solid rgb(28, 117, 188);}
.blue-border-right-sm{border-right: 1px solid rgb(28, 117, 188);}
.blue-border-right-md{border-right: 2px solid rgb(28, 117, 188);}
.blue-border-right-lg{border-right: 3px solid rgb(28, 117, 188);}
.blue-border-top-sm{border-top: 1px solid rgb(28, 117, 188);}
.blue-border-top-md{border-top: 2px solid rgb(28, 117, 188);}
.blue-border-top-lg{border-top: 3px solid rgb(28, 117, 188);}
.blue-border-bottom-sm{border-bottom: 1px solid rgb(28, 117, 188);}
.blue-border-bottom-md{border-bottom: 2px solid rgb(28, 117, 188);}
.blue-border-bottom-lg{border-bottom: 3px solid rgb(28, 117, 188);}
.letter-space-xs{letter-spacing:1px}
.letter-space-sm{letter-spacing:2px}
.letter-space-md{letter-spacing:3px}
.letter-space-lg{letter-spacing:5px}
.letter-space-xl{letter-spacing:8px}
.text-md{font-size: 1.2em;}


@media (min-width: 1200px)
.container {
	max-width: 1920px;
}

html,body{
	width:100%;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: #010101;
  color: #cccccc;
}

body.admin {
  padding-top: 60px;
  background-color: #010101;
  color: #cccccc;
}

.alert-default {
	color: #ffffff;
	background-color: #1E2629;
	border-color: #3dced8;
}

.btn-default:hover {
	color: rgb(28, 117, 188);
}

.box-link:hover img {
	background-color: rgb(28, 117, 188);
}

.header-social-row a {
	color: rgba(255,255,255, 0.2);
}

.header-social-row a:hover, .admin-dashboard-tile a:hover {
	color: rgb(28, 117, 188);
}

.header-social-row {
	text-align: center;
	font-size: 3em;
	color: rgb(28, 117, 188);
}


a img, :link img, :visited img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	border: none;
	margin-bottom: 10px;
}

h3 {font-size: 1.5em;}

ol, ul {
	list-style: none;
}

.clear{
	clear: both;
}
/* @media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
} */

.main-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.carousel-caption {
	padding-bottom: 0px;
	padding-bottom: 0px;
	bottom: 10px;
	color: #ffffff;
	border-radius: 3px;
	
}
.carousel-caption .btn{
	background-color: rgba(0,0,0,0.5);
}

li.banner-item {
	width: 600px;
	hieght: 500px;
}

img {
	background-size: contain;
}

/* .left-divider {
	border-left: 2px solid #0a62b5;
}

.divider {
	border: 2px solid #0a62b5;
	padding: 30px;
} */

.home-box {
	min-height: 180px;
}

.thumbnail {
	background-size: contain;
}

.content-container {
	margin-top: 0px;
}

.footer {
	margin-top: 30px;
	min-height: 120px;
	padding: 19px;
	background-color: #131313;
	order: 1px solid #0c0d0e;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


#banner{
	height:540px;
	background:#0a2145 url(/img/homepage_banner.jpg) repeat-x left top;
	margin:-10px 0 28px 0;
}

#banner .cont{
	height:540px;
	overflow:visible;
}



#bottom-shade {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
	box-shadow: 1px 1px 5px 0 rgba(11,30,44,0.9);
	overflow: hidden;
	background-color: #234;
	background-color: rgba(11, 30, 44, 0.9);
	z-index: 1051;
}
#bottom-shade .alert {
	left: 50%;
	position: relative;
	margin-left: -500px;
	width: 950px;
	margin-bottom: 20px;
	margin-top: 20px;
}