/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:960px;
}
#carousel {
  height:280px;
  width:960px;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
.carousel-image {
  border:0;
  display:block;
  /* -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));  */
  /* -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white));  */
  /* border:2px solid #5d5d5d; */
}
.carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  /* border:2px solid #5d5d5d; */
  cursor:pointer;
  box-shadow: 0px 0px 8px #ffffff;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  background-color:#000;
  right: 0;
  left: 0;
  padding: 3px;
  padding-bottom: 0;
}
.carousel-feature .carousel-caption h3 {
  margin:0;
  font-weight:bold;
  /* font-size:12px; */
  text-align: left;
  /* color:#5bc0de; */
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
  border-radius: 50%;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;
}